body {
    background-image: url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#aboutpage {
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 35%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 50px;
    color: darkblue;
}
.me> .About {
    padding: 30px;
    font-size: 25px;
    color: black;
}
#moreaboutme {
    text-align: center;
    font-size: 25px;
}