body {
    background-image: url("https://images.unsplash.com/photo-1589884629038-b631346a23c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#contactme {
    display: flex;
    justify-content: center;
}
.bounce {
    margin-top: 3%;
    color: black;
}
h1 {
    margin-left: 25%;
}
h2 {
    margin-left: 25%;
}